<div *ngIf="isLogin" class="middle-box text-center loginscreen animated fadeInDown" >
    <div>
        <form (ngSubmit)="efetuarLogin()" role="form" #loginForm="ngForm">
            <fieldset>
                <div class="row">
                    <div class="center-block form-group form-group-sm">
                        <span>
                            <img class="img-circle" style="width: 200px; height: 200px" [src]="imgLogin" alt="">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                <input class="form-control" placeholder="E-mail" name="email" type="email"
                                 autofocus required [(ngModel)]="auth.login" email #email="ngModel"
                                 style="text-transform: none" >
                            </div>
                            <span [hidden]="(email.value === undefined || email.value === '') ? true : (email.valid || email.pristine)">
                                <small style="color: #a94442">
                                    Formato de e-mail inválido.
                                </small>
                            </span>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input class="form-control" placeholder="Senha" name="senha" type="password"
                                required [(ngModel)]="auth.password" style="text-transform: none">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <input type="submit" class="btn btn-primary btn-block" value="Login" [disabled]="!loginForm.form.valid" >
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
